@model Pdb014App.Models.PDB.Complain

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register a Complain</h2>

<hr />

<form action="" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>Complain Info.</legend>

                <div class="form-group">
                    <label asp-for="ComplainTypeId" class="control-label"></label>
                    <select asp-for="ComplainTypeId" class="form-control" asp-items="ViewBag.ComplainTypeList"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ComplainerName" class="control-label"></label>
                    <input asp-for="ComplainerName" class="form-control" />
                    <span asp-validation-for="ComplainerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ComplainerAddress" class="control-label"></label>
                    <textarea asp-for="ComplainerAddress" class="form-control">Complainer Address</textarea>
                    <span asp-validation-for="ComplainerAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ComplainerDetails" class="control-label"></label>
                    <textarea asp-for="ComplainerDetails" class="form-control">Complainer Details</textarea>
                    <span asp-validation-for="ComplainerDetails" class="text-danger"></span>
                </div>
            </fieldset>
        </div>

        <div class="col-md-6">
            <fieldset>
                <legend>Complain Location</legend>

                <div class="form-group">
                    <label class="control-label">Division</label>
                    <select id="DivCode" name="DivCode" class="form-control" asp-items="ViewBag.DivList">
                        <option value="" selected="selected">----- division -----</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">District</label>
                    <select id="DistCode" name="DistCode" class="form-control" asp-items="ViewBag.DistList">
                        <option value="" selected="selected">----- district -----</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Upazila</label>
                    <select id="UpazCode" name="UpazCode" class="form-control" asp-items="ViewBag.UpazList">
                        <option value="" selected="selected">----- upazila -----</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="UnionGeoCode" class="control-label"></label>
                    <select asp-for="UnionGeoCode" class="form-control" asp-items="ViewBag.UnionList">
                        <option value="" selected="selected">----- union -----</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="SnDCode" class="control-label"></label>
                    <select asp-for="SnDCode" class="form-control" asp-items="ViewBag.SnDList"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Latitude" class="control-label"></label>
                    <input asp-for="Latitude" class="form-control" />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude" class="control-label"></label>
                    <input asp-for="Longitude" class="form-control" />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" formnovalidate value="Back" asp-controller="Complains" asp-action="AddComplain" class="btn btn-primary float-left"/>
        @*<a asp-controller="Complains" asp-action="AddComplain" asp-route-unionCode="@Model.UnionGeoCode" asp-route-sndCode="@Model.SnDCode" asp-route-latitude="@Model.Latitude" asp-route-longitude="@Model.Longitude" class="btn btn-primary float-left">Back</a>*@
        <input type="submit" value="Submit" asp-controller="Complains" asp-action="RegisterComplain" class="btn btn-primary float-right"/>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
