@model Pdb014App.Models.PDB.PhasePowerTransformerModel.TblPhasePowerTransformer

@{
    ViewData["Title"] = "Create";
}

<div class="row">

    <div class="offset-md-2 col-md-8 offset-md-2">
        <fieldset>
            <legend>Add Power Transformer Information</legend>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input name="PhasePowerTransformerId" type="hidden" value="1" class="form-control" />
                <div class="form-group">
                    <label asp-for="SubstationId" class="control-label"></label>
                    <select asp-for="SubstationId" class="form-control" asp-items="ViewBag.SubstationId"></select>
                </div>

                <div class="form-group">
                    <label asp-for="FeederID33KvId" class="control-label"></label>
                    <select asp-for="FeederID33KvId" class="form-control" asp-items="ViewBag.FeederID33KvId">
                        <option value="">--Select--</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="ManufacturersName" class="control-label"></label>
                    <input asp-for="ManufacturersName" class="form-control" />
                    <span asp-validation-for="ManufacturersName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ManufacturersAddress" class="control-label"></label>
                    <input asp-for="ManufacturersAddress" class="form-control" />
                    <span asp-validation-for="ManufacturersAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AppliedStandard" class="control-label"></label>
                    <input asp-for="AppliedStandard" class="form-control" />
                    <span asp-validation-for="AppliedStandard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescriptionType" class="control-label"></label>
                    <input asp-for="DescriptionType" class="form-control" />
                    <span asp-validation-for="DescriptionType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SerialNumber" class="control-label"></label>
                    <input asp-for="SerialNumber" class="form-control" />
                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RatedPower" class="control-label"></label>
                    <input asp-for="RatedPower" class="form-control" />
                    <span asp-validation-for="RatedPower" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfPhase" class="control-label"></label>
                    <input asp-for="NumberOfPhase" class="form-control" />
                    <span asp-validation-for="NumberOfPhase" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RatedVoltagePhaseToPhase" class="control-label"></label>
                    <input asp-for="RatedVoltagePhaseToPhase" class="form-control" />
                    <span asp-validation-for="RatedVoltagePhaseToPhase" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HighVoltageWindingPhaseToPhase" class="control-label"></label>
                    <input asp-for="HighVoltageWindingPhaseToPhase" class="form-control" />
                    <span asp-validation-for="HighVoltageWindingPhaseToPhase" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LowVoltageWindingPhaseToPhase" class="control-label"></label>
                    <input asp-for="LowVoltageWindingPhaseToPhase" class="form-control" />
                    <span asp-validation-for="LowVoltageWindingPhaseToPhase" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RatedFrequency" class="control-label"></label>
                    <input asp-for="RatedFrequency" class="form-control" />
                    <span asp-validation-for="RatedFrequency" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RatedInsulationLevel" class="control-label"></label>
                    <input asp-for="RatedInsulationLevel" class="form-control" />
                    <span asp-validation-for="RatedInsulationLevel" class="text-danger"></span>
                </div>

                <fieldset>
                    <legend>Impulse With Stand Full Wave</legend>
                    <div class="form-group">
                        <label asp-for="ImpulseHighVoltageWinding" class="control-label"></label>
                        <input asp-for="ImpulseHighVoltageWinding" class="form-control" />
                        <span asp-validation-for="ImpulseHighVoltageWinding" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="ImpulseLowVoltageWinding" class="control-label"></label>
                        <input asp-for="ImpulseLowVoltageWinding" class="form-control" />
                        <span asp-validation-for="ImpulseLowVoltageWinding" class="text-danger"></span>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>AC With Stand Voltage</legend>


                    <div class="form-group">
                        <label asp-for="ACHighVoltageWinding" class="control-label"></label>
                        <input asp-for="ACHighVoltageWinding" class="form-control" />
                        <span asp-validation-for="ACHighVoltageWinding" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ACLowVoltageWinding" class="control-label"></label>
                        <input asp-for="ACLowVoltageWinding" class="form-control" />
                        <span asp-validation-for="ACLowVoltageWinding" class="text-danger"></span>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label asp-for="TypeOfCooling28Or35MVA" class="control-label"></label>
                    <input asp-for="TypeOfCooling28Or35MVA" class="form-control" />
                    <span asp-validation-for="TypeOfCooling28Or35MVA" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OnLoadTapChanger" class="control-label"></label>
                    <input asp-for="OnLoadTapChanger" class="form-control" />
                    <span asp-validation-for="OnLoadTapChanger" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeTap" class="control-label"></label>
                    <input asp-for="TypeTap" class="form-control" />
                    <span asp-validation-for="TypeTap" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TappingRangeHT" class="control-label"></label>
                    <input asp-for="TappingRangeHT" class="form-control" />
                    <span asp-validation-for="TappingRangeHT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LocationOfTap" class="control-label"></label>
                    <input asp-for="LocationOfTap" class="form-control" />
                    <span asp-validation-for="LocationOfTap" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OilVolume" class="control-label"></label>
                    <input asp-for="OilVolume" class="form-control" />
                    <span asp-validation-for="OilVolume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OneStepChange" class="control-label"></label>
                    <input asp-for="OneStepChange" class="form-control" />
                    <span asp-validation-for="OneStepChange" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MotorRating" class="control-label"></label>
                    <input asp-for="MotorRating" class="form-control" />
                    <span asp-validation-for="MotorRating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImpedanceVoltageAt75CAndAtNominalRatio" class="control-label"></label>
                    <input asp-for="ImpedanceVoltageAt75CAndAtNominalRatio" class="form-control" />
                    <span asp-validation-for="ImpedanceVoltageAt75CAndAtNominalRatio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TemperatureRiseAtRatedPowerMaxAmbientTemperature40C" class="control-label"></label>
                    <input asp-for="TemperatureRiseAtRatedPowerMaxAmbientTemperature40C" class="form-control" />
                    <span asp-validation-for="TemperatureRiseAtRatedPowerMaxAmbientTemperature40C" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FiveMva" class="control-label"></label>
                    <input asp-for="FiveMva" class="form-control" />
                    <span asp-validation-for="FiveMva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SixPointSixMva" class="control-label"></label>
                    <input asp-for="SixPointSixMva" class="form-control" />
                    <span asp-validation-for="SixPointSixMva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OilByThermometer" class="control-label"></label>
                    <input asp-for="OilByThermometer" class="form-control" />
                    <span asp-validation-for="OilByThermometer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WindingByResistanceMeasurement" class="control-label"></label>
                    <input asp-for="WindingByResistanceMeasurement" class="form-control" />
                    <span asp-validation-for="WindingByResistanceMeasurement" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TemperatureGradientBetweenWindingsAndOil" class="control-label"></label>
                    <input asp-for="TemperatureGradientBetweenWindingsAndOil" class="form-control" />
                    <span asp-validation-for="TemperatureGradientBetweenWindingsAndOil" class="text-danger"></span>
                </div>
                <fieldset>
                    <legend>Short Circuit Level At Terminal</legend>
                    <div class="form-group">
                        <label asp-for="ShortCircuitLevelAtTerminalThirtyThreeKv" class="control-label"></label>
                        <input asp-for="ShortCircuitLevelAtTerminalThirtyThreeKv" class="form-control" />
                        <span asp-validation-for="ShortCircuitLevelAtTerminalThirtyThreeKv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortCircuitLevelAtTerminalEleventKv" class="control-label"></label>
                        <input asp-for="ShortCircuitLevelAtTerminalEleventKv" class="form-control" />
                        <span asp-validation-for="ShortCircuitLevelAtTerminalEleventKv" class="text-danger"></span>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label asp-for="TransformerCore" class="control-label"></label>
                    <input asp-for="TransformerCore" class="form-control" />
                    <span asp-validation-for="TransformerCore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeofCoreAndFluxEnsityAtNominalVoltage" class="control-label"></label>
                    <input asp-for="TypeofCoreAndFluxEnsityAtNominalVoltage" class="form-control" />
                    <span asp-validation-for="TypeofCoreAndFluxEnsityAtNominalVoltage" class="text-danger"></span>
                </div>
                <fieldset>
                    <legend>Transformer Bushings</legend>
                    <div class="form-group">
                        <label asp-for="TransformeHVBushing" class="control-label"></label>
                        <input asp-for="TransformeHVBushing" class="form-control" />
                        <span asp-validation-for="TransformeHVBushing" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TransformeHVBushingType" class="control-label"></label>
                        <input asp-for="TransformeHVBushingType" class="form-control" />
                        <span asp-validation-for="TransformeHVBushingType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TransformeLVBushing" class="control-label"></label>
                        <input asp-for="TransformeLVBushing" class="form-control" />
                        <span asp-validation-for="TransformeLVBushing" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TransformeLVBushingType" class="control-label"></label>
                        <input asp-for="TransformeLVBushingType" class="form-control" />
                        <span asp-validation-for="TransformeLVBushingType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TransformeNeutralBushing" class="control-label"></label>
                        <input asp-for="TransformeNeutralBushing" class="form-control" />
                        <span asp-validation-for="TransformeNeutralBushing" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TransformeNeutralBushingType" class="control-label"></label>
                        <input asp-for="TransformeNeutralBushingType" class="form-control" />
                        <span asp-validation-for="TransformeNeutralBushingType" class="text-danger"></span>
                    </div>
                </fieldset>





                @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="ConservatorWithAirSealedBagForConstantOilPressur" /> @Html.DisplayNameFor(model => model.ConservatorWithAirSealedBagForConstantOilPressur)
            </label>
        </div>*@
                <hr />
                <div class="form-group row">
                    <label asp-for="ConservatorWithAirSealedBagForConstantOilPressur" class="control-label col-md-9"></label>
                    <input asp-for="ConservatorWithAirSealedBagForConstantOilPressur" class="form-control col-md-1" />
                </div>




                <div class="form-group">
                    <label asp-for="BreatherSilicagel" class="control-label"></label>
                    <input asp-for="BreatherSilicagel" class="form-control" />
                    <span asp-validation-for="BreatherSilicagel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuxiliaryCircuitVoltageForFanetc3P4W" class="control-label"></label>
                    <input asp-for="AuxiliaryCircuitVoltageForFanetc3P4W" class="form-control" />
                    <span asp-validation-for="AuxiliaryCircuitVoltageForFanetc3P4W" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ControlVoltage" class="control-label"></label>
                    <input asp-for="ControlVoltage" class="form-control" />
                    <span asp-validation-for="ControlVoltage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoundLevelIEC551" class="control-label"></label>
                    <input asp-for="SoundLevelIEC551" class="form-control" />
                    <span asp-validation-for="SoundLevelIEC551" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ONAN" class="control-label"></label>
                    <input asp-for="ONAN" class="form-control" />
                    <span asp-validation-for="ONAN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ONAF" class="control-label"></label>
                    <input asp-for="ONAF" class="form-control" />
                    <span asp-validation-for="ONAF" class="text-danger"></span>
                </div>
                <fieldset>
                    <legend>Bushing CT Particulars</legend>
                    <div class="form-group">
                        <label asp-for="BushingCTParticularsHVside" class="control-label"></label>
                        <input asp-for="BushingCTParticularsHVside" class="form-control" />
                        <span asp-validation-for="BushingCTParticularsHVside" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BushingCTParticularsLVside" class="control-label"></label>
                        <input asp-for="BushingCTParticularsLVside" class="form-control" />
                        <span asp-validation-for="BushingCTParticularsLVside" class="text-danger"></span>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label asp-for="BushingCTParticularsNeutralSide" class="control-label"></label>
                    <input asp-for="BushingCTParticularsNeutralSide" class="form-control" />
                    <span asp-validation-for="BushingCTParticularsNeutralSide" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfCoolingFan" class="control-label"></label>
                    <input asp-for="NumberOfCoolingFan" class="form-control" />
                    <span asp-validation-for="NumberOfCoolingFan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RatingOfFanMotors" class="control-label"></label>
                    <input asp-for="RatingOfFanMotors" class="form-control" />
                    <span asp-validation-for="RatingOfFanMotors" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoolingFanLossesAtFullOnafCapacityOperation" class="control-label"></label>
                    <input asp-for="CoolingFanLossesAtFullOnafCapacityOperation" class="form-control" />
                    <span asp-validation-for="CoolingFanLossesAtFullOnafCapacityOperation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoreLossAtRatedFrequencyAndRatedVoltageAtNominalTapNoLoadLoss" class="control-label"></label>
                    <input asp-for="CoreLossAtRatedFrequencyAndRatedVoltageAtNominalTapNoLoadLoss" class="form-control" />
                    <span asp-validation-for="CoreLossAtRatedFrequencyAndRatedVoltageAtNominalTapNoLoadLoss" class="text-danger"></span>
                </div>
                <fieldset>
                    <legend>Copper Loss At full load At Rated Frequency And At 75 C Full Load Loss</legend>
                    <div class="form-group">
                        <label asp-for="CopperLossAtMaximumTap" class="control-label"></label>
                        <input asp-for="CopperLossAtMaximumTap" class="form-control" />
                        <span asp-validation-for="CopperLossAtMaximumTap" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CopperLossAtNominalTap" class="control-label"></label>
                        <input asp-for="CopperLossAtNominalTap" class="form-control" />
                        <span asp-validation-for="CopperLossAtNominalTap" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CopperLossAtMinimumTap" class="control-label"></label>
                        <input asp-for="CopperLossAtMinimumTap" class="form-control" />
                        <span asp-validation-for="CopperLossAtMinimumTap" class="text-danger"></span>
                    </div>
                </fieldset>
                @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Radiators" /> @Html.DisplayNameFor(model => model.Radiators)
            </label>
        </div>*@
                <div class="form-group">
                    <label asp-for="OverallDimensions" class="control-label"></label>
                    <input asp-for="OverallDimensions" class="form-control" />
                    <span asp-validation-for="OverallDimensions" class="text-danger"></span>
                </div>
                <div class="form-group row">

                    <label asp-for="Radiators" class="control-label col-md-3"></label>
                    <input class="form-control col-md-1" asp-for="Radiators" />


                    @*<label asp-for="NoOfRadiators" class="control-label col-md-3"></label>
            <input asp-for="NoOfRadiators" class="form-control col-md-4" />
            <span asp-validation-for="NoOfRadiators" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="NoOfRadiators" class="control-label"></label>
                    <input asp-for="NoOfRadiators" class="form-control" />
                    <span asp-validation-for="NoOfRadiators" class="text-danger"></span>
                </div>



                @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="SupervisoryAlarmAndTripContacts" /> @Html.DisplayNameFor(model => model.SupervisoryAlarmAndTripContacts)
            </label>
        </div>*@
                <hr />
                <div class="form-group row">

                    <label asp-for="SupervisoryAlarmAndTripContacts" class="control-label col-md-5"></label>
                    <input class="form-control col-md-1" asp-for="SupervisoryAlarmAndTripContacts" />


                    <label asp-for="TemperatureIndicators" class="control-label col-md-5"></label>
                    <input class="form-control col-md-1" asp-for="TemperatureIndicators" />

                </div>
                <hr />


                <div class="form-group">
                    <label asp-for="MakeAndType" class="control-label"></label>
                    <input asp-for="MakeAndType" class="form-control" />
                    <span asp-validation-for="MakeAndType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AlarmAndTripRange" class="control-label"></label>
                    <input asp-for="AlarmAndTripRange" class="form-control" />
                    <span asp-validation-for="AlarmAndTripRange" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoOfContacts" class="control-label"></label>
                    <input asp-for="NoOfContacts" class="form-control" />
                    <span asp-validation-for="NoOfContacts" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CurrentRatingOfContacts" class="control-label"></label>
                    <input asp-for="CurrentRatingOfContacts" class="form-control" />
                    <span asp-validation-for="CurrentRatingOfContacts" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SupervisoryAlarmContact" class="control-label"></label>
                    <input asp-for="SupervisoryAlarmContact" class="form-control" />
                    <span asp-validation-for="SupervisoryAlarmContact" class="text-danger"></span>
                </div>
                <fieldset>
                    <legend>Dimensions And Weight Maximum Size For Transport</legend>

                    <div class="form-group">
                        <label asp-for="DimensionsAndWeightTransportLMulWMulH" class="control-label"></label>
                        <input asp-for="DimensionsAndWeightTransportLMulWMulH" class="form-control" />
                        <span asp-validation-for="DimensionsAndWeightTransportLMulWMulH" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DimensionsAndWeightTransportWeightOFoil" class="control-label"></label>
                        <input asp-for="DimensionsAndWeightTransportWeightOFoil" class="form-control" />
                        <span asp-validation-for="DimensionsAndWeightTransportWeightOFoil" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DimensionsAndWeightTransportWeightofCore" class="control-label"></label>
                        <input asp-for="DimensionsAndWeightTransportWeightofCore" class="form-control" />
                        <span asp-validation-for="DimensionsAndWeightTransportWeightofCore" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DimensionsAndWeightTransportTotalWeight" class="control-label"></label>
                        <input asp-for="DimensionsAndWeightTransportTotalWeight" class="form-control" />
                        <span asp-validation-for="DimensionsAndWeightTransportTotalWeight" class="text-danger"></span>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label asp-for="SanctionedLoad" class="control-label"></label>
                    <input asp-for="SanctionedLoad" class="form-control" />
                    <span asp-validation-for="SanctionedLoad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaximumLoad" class="control-label"></label>
                    <input asp-for="MaximumLoad" class="form-control" />
                    <span asp-validation-for="MaximumLoad" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary float-right" />
                    <a class="btn btn-success float-left" asp-action="Index" asp-controller="TblSubstations">Back</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>

