@model Pdb014App.Models.PDB.LookUpModels.LookUpCircleInfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<h4>Add Circle Information</h4>
<hr />*@
<div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3">
        
        <fieldset>
            <legend>Add Circle Information</legend>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CircleCode" class="control-label"></label>
                <input asp-for="CircleCode" class="form-control" />
                <span asp-validation-for="CircleCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CircleName" class="control-label"></label>
                <input asp-for="CircleName" class="form-control" />
                <span asp-validation-for="CircleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortingNo" class="control-label"></label>
                <input asp-for="SortingNo" class="form-control" />
                <span asp-validation-for="SortingNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZoneCode" class="control-label"></label>
                <select asp-for="ZoneCode" class="form-control" asp-items="ViewBag.ZoneCode"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success float-right" />
                <a class="btn btn-success left-right" asp-action="Index">Back</a>
            </div>
        </form>
        </fieldset>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

