@model Pdb014App.Models.PDB.SubstationModels.LookUpBatteryCharger

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Edit</h2>

<h4>LookUpBatteryCharger</h4>
<hr />*@
<div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3">

        <fieldset>
            <legend>Update Battery Charger</legend>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BatteryChargerId" />
            <div class="form-group">
                <label asp-for="SubstationId" class="control-label"></label>
                <select asp-for="SubstationId" class="form-control" asp-items="ViewBag.SubstationId"></select>
                <span asp-validation-for="SubstationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturersNameAndCompany" class="control-label"></label>
                <input asp-for="ManufacturersNameAndCompany" class="form-control" />
                <span asp-validation-for="ManufacturersNameAndCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturersModelNo" class="control-label"></label>
                <input asp-for="ManufacturersModelNo" class="form-control" />
                <span asp-validation-for="ManufacturersModelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatedInputVoltageRange" class="control-label"></label>
                <input asp-for="RatedInputVoltageRange" class="form-control" />
                <span asp-validation-for="RatedInputVoltageRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatedFrequency" class="control-label"></label>
                <input asp-for="RatedFrequency" class="form-control" />
                <span asp-validation-for="RatedFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfPhase" class="control-label"></label>
                <input asp-for="NoOfPhase" class="form-control" />
                <span asp-validation-for="NoOfPhase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NominalOutputVoltage" class="control-label"></label>
                <input asp-for="NominalOutputVoltage" class="form-control" />
                <span asp-validation-for="NominalOutputVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChargingOperatingControl" class="control-label"></label>
                <input asp-for="ChargingOperatingControl" class="form-control" />
                <span asp-validation-for="ChargingOperatingControl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputCurrent" class="control-label"></label>
                <input asp-for="OutputCurrent" class="form-control" />
                <span asp-validation-for="OutputCurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContinuousCurrentRating" class="control-label"></label>
                <input asp-for="ContinuousCurrentRating" class="form-control" />
                <span asp-validation-for="ContinuousCurrentRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Efficiency" class="control-label"></label>
                <input asp-for="Efficiency" class="form-control" />
                <span asp-validation-for="Efficiency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoltageRegulation" class="control-label"></label>
                <input asp-for="VoltageRegulation" class="form-control" />
                <span asp-validation-for="VoltageRegulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success float-right" />
                <a class="btn btn-success left-right" asp-action="Index">Cencel</a>
            </div>
        </form>
        </fieldset>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
