@model Pdb014App.Models.PDB.LookUpSideLockTieTerminalClampMerlin

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>

<h4>LookUpSideLockTieTerminalClampMerlin</h4>
<hr />*@
<div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3">
        <fieldset>
            <legend>Add Side Lock Tie Terminal Clamp Merlin</legend>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SideLockTieTerminalClampMerlinId" class="control-label"></label>
                    <input asp-for="SideLockTieTerminalClampMerlinId" class="form-control" />
                    <span asp-validation-for="SideLockTieTerminalClampMerlinId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SideLockTieTerminalClampMerlinType" class="control-label"></label>
                    <input asp-for="SideLockTieTerminalClampMerlinType" class="form-control" />
                    <span asp-validation-for="SideLockTieTerminalClampMerlinType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Materials" class="control-label"></label>
                    <input asp-for="Materials" class="form-control" />
                    <span asp-validation-for="Materials" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Standard" class="control-label"></label>
                    <input asp-for="Standard" class="form-control" />
                    <span asp-validation-for="Standard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UltimateTensileStrength" class="control-label"></label>
                    <input asp-for="UltimateTensileStrength" class="form-control" />
                    <span asp-validation-for="UltimateTensileStrength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PoleId" class="control-label"></label>
                    <select asp-for="PoleId" class="form-control" asp-items="ViewBag.PoleId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success float-right" />
                    <a class="btn btn-success float-left" asp-action="Index">Back</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

