@model Pdb014App.Models.PDB.InsulatorModels.LookUpInsulatorShackleOrGuyType

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>

<h4>LookUpInsulatorShackleOrGuyType</h4>
<hr />*@
<div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3">
        <fieldset>
            <legend>Add Isulator(Shackle/Guy) Type</legend>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InsulatorShackleOrGuyTypeName" class="control-label">Shackle/Guy Type Name</label>
                <input asp-for="InsulatorShackleOrGuyTypeName" class="form-control" />
                <span asp-validation-for="InsulatorShackleOrGuyTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success float-right" />
                <a class="btn btn-success float-left" asp-action="Index">Back</a>
            </div>
        </form>
        </fieldset>
    </div>
</div>



