@model Pdb014App.Models.PDB.ServicePointModels.LookUpServicePointType

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>LookUpServicePointType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServicePointTypeName" class="control-label"></label>
                <input asp-for="ServicePointTypeName" class="form-control" />
                <span asp-validation-for="ServicePointTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary float-right" />
                <a class="btn btn-success float-left" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

