
p.tree,
ul.tree,
ul.tree ul {
    list-style: none;
    margin: 0 auto 0.25rem auto;
    padding: 0;
}

p.tree {
    margin: 0.15rem 0.1rem;
    font-weight: 600;
}

ul.tree ul {
    margin: 0 0 0 1.0rem;
}

ul.tree li {
    margin-left: 0.35rem;
    margin-left: 0.45rem;
    border-left: 1px dotted #aaa;
}

    ul.tree li label {
        margin-bottom: 0.35rem;
        line-height: 1.15rem;
    }

    ul.tree li input[type=checkbox] {
        margin-left: -0.15rem;
    }

    ul.tree li:last-child {
        border-left: none;
    }

    ul.tree li:before {
        width: 0.75rem;
        height: 0.60rem;
        margin-right: 0.1rem;
        vertical-align: top;
        border-bottom: 1px dotted #aaa;
        content: "";
        display: inline-block;
    }

    ul.tree li:last-child:before {
        border-left: 1px dotted #aaa;
        width: 0.8rem;
    }

    ul.tree li span.multi-item {
        float: left;
        border: 1px solid #777;
        width: 0.85rem;
        height: 0.85rem;
        margin: 0.1rem 0 0 -1.6rem;
        padding: 0.073rem 0.085rem;
        background: #fff;
    }

        ul.tree li span.multi-item::before {
            content: "\002B";
            content: "\f067";
            float: left;
            line-height: 1;
            margin: 0;
            padding: 0;
            color: #555;
            text-align: center;
            font-size: 0.65rem;
            font-family: 'Font Awesome 5 Free';
            font-weight: 600;
        }

        ul.tree li span.multi-item.open::before,
        ul.tree li span.multi-item.minus::before,
        ul.tree li span.multi-item.active::before {
            content: "\2212";
            content: "\f068";
        }

