
p.tree,
ul.tree,
ul.tree ul {
    list-style: none;
    margin: 0 auto 0.25rem auto;
    padding: 0;
    /*overflow: auto;*/
}

p.tree {
    margin: 0.15rem 0.1rem;
    font-weight: 600;
}

ul.tree ul {
    margin: 0 0 0 1.0rem;
}

ul.tree li {
    margin-left: 0.35rem;
    margin-left: 0.4rem;
    border-left: 1px dotted #aaa;
}

    ul.tree li label {
        margin-bottom: 0.35rem;
        line-height: 1.15rem;
        /*display: inline list-item;*/
    }

    ul.tree li input[type=checkbox] {
        margin-left: -0.15rem;
    }

    ul.tree li:last-child {
        border-left: none;
    }

    ul.tree li:before {
        width: 0.75rem;
        height: 0.60rem;
        margin-right: 0.1rem;
        vertical-align: top;
        border-bottom: 1px dotted #aaa;
        content: "";
        display: inline-block;
    }

    ul.tree li:last-child:before {
        border-left: 1px dotted #aaa;
        width: 0.8rem;
    }


    ul.tree li span.multi-item,
    ul.tree li span.multi-item i {
        float: left;
        margin: 0.1rem 0 0 -2.5rem;
        padding: 0;
        border: 1px solid #777;
        width: 0.85rem;
        height: 0.85rem;
    }

        ul.tree li span.multi-item::before,
        ul.tree li span.multi-item i::before,
        ul.tree li label.multi-item i::before {
            content: "\002B";
            content: "\f067";
            /*border: 1px solid #777;*/
            float: left;
            margin: -3px 0 0 1px;
            padding: 0;
            color: #555;
            text-align: center;
            font-size: 0.7rem;
            font-family: 'Font Awesome 5 Free';
            font-weight: 600;
        }

        ul.tree li span.multi-item.open::before,
        ul.tree li span.multi-item.minus::before,
        ul.tree li span.multi-item.active::before,
        ul.tree li span.multi-item.open i::before,
        ul.tree li span.multi-item.minus i::before,
        ul.tree li span.multi-item.active i::before,
        ul.tree li label.multi-item.open i::before,
        ul.tree li label.multi-item.minus i::before,
        ul.tree li label.multi-item.active i::before {
            content: "\2212";
            content: "\f068";
        }



/*ul.tree li span.multi-item::after,
    ul.tree li label.multi-item::after {
        content: "\002B";
        color: #024;
        font-weight: bold;
        float: right;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
    }

    ul.tree li span.multi-item.open::after,
    ul.tree li span.multi-item.minus::after,
    ul.tree li span.multi-item.active::after,
    ul.tree li label.multi-item.open::after,
    ul.tree li label.multi-item.minus::after,
    ul.tree li label.multi-item.active::after {
        content: "\2212";
    }*/
