@model Pdb014App.Models.PDB.CopperCableModels.LookUpCopperCablesType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LookUpCopperCablesType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopperCablesTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopperCablesTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CopperCablesTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
