@model Pdb014App.Models.PDB.InsulatorModels.TblInsulatorPinAndPost

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Edit</h2>

<h4>TblInsulatorPinAndPost</h4>
<hr />*@
<div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3">
        <fieldset>
        <legend>Update Isulator (Disk)</legend>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InsulatorPinAndPostId" />
            <div class="form-group">
                <label asp-for="Installation" class="control-label"></label>
                <input asp-for="Installation" class="form-control" />
                <span asp-validation-for="Installation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NominalSystemVoltage" class="control-label"></label>
                <input asp-for="NominalSystemVoltage" class="form-control" />
                <span asp-validation-for="NominalSystemVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsulatorPinAndPostTypeId" class="control-label"></label>
                <select asp-for="InsulatorPinAndPostTypeId" class="form-control" asp-items="ViewBag.InsulatorPinAndPostTypeId"></select>
                <span asp-validation-for="InsulatorPinAndPostTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumSystemVoltage" class="control-label"></label>
                <input asp-for="MaximumSystemVoltage" class="form-control" />
                <span asp-validation-for="MaximumSystemVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfSystem" class="control-label"></label>
                <input asp-for="TypeOfSystem" class="form-control" />
                <span asp-validation-for="TypeOfSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsulatorVoltageClass" class="control-label"></label>
                <input asp-for="InsulatorVoltageClass" class="form-control" />
                <span asp-validation-for="InsulatorVoltageClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsulatorMaterials" class="control-label"></label>
                <input asp-for="InsulatorMaterials" class="form-control" />
                <span asp-validation-for="InsulatorMaterials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumCreepageDistance" class="control-label"></label>
                <input asp-for="MinimumCreepageDistance" class="form-control" />
                <span asp-validation-for="MinimumCreepageDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumWithstandVoltage" class="control-label"></label>
                <input asp-for="MinimumWithstandVoltage" class="form-control" />
                <span asp-validation-for="MinimumWithstandVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerFrequencyDry" class="control-label"></label>
                <input asp-for="PowerFrequencyDry" class="form-control" />
                <span asp-validation-for="PowerFrequencyDry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerFrequencyWet" class="control-label"></label>
                <input asp-for="PowerFrequencyWet" class="form-control" />
                <span asp-validation-for="PowerFrequencyWet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImpulseWithstandVoltage" class="control-label"></label>
                <input asp-for="ImpulseWithstandVoltage" class="form-control" />
                <span asp-validation-for="ImpulseWithstandVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumPowerFrequencyFlashoverDry" class="control-label"></label>
                <input asp-for="MinimumPowerFrequencyFlashoverDry" class="form-control" />
                <span asp-validation-for="MinimumPowerFrequencyFlashoverDry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumPowerFrequencyFlashoverWet" class="control-label"></label>
                <input asp-for="MinimumPowerFrequencyFlashoverWet" class="form-control" />
                <span asp-validation-for="MinimumPowerFrequencyFlashoverWet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiftyPctImpulseFlashoverWavePositive" class="control-label"></label>
                <input asp-for="FiftyPctImpulseFlashoverWavePositive" class="form-control" />
                <span asp-validation-for="FiftyPctImpulseFlashoverWavePositive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiftyPctImpulseFlashoverWaveNegative" class="control-label"></label>
                <input asp-for="FiftyPctImpulseFlashoverWaveNegative" class="form-control" />
                <span asp-validation-for="FiftyPctImpulseFlashoverWaveNegative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerFrequencyPuncherVoltage" class="control-label"></label>
                <input asp-for="PowerFrequencyPuncherVoltage" class="form-control" />
                <span asp-validation-for="PowerFrequencyPuncherVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumDryArchingDistance" class="control-label"></label>
                <input asp-for="MinimumDryArchingDistance" class="form-control" />
                <span asp-validation-for="MinimumDryArchingDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerFrequencyTestVoltageRmsToGround" class="control-label"></label>
                <input asp-for="PowerFrequencyTestVoltageRmsToGround" class="form-control" />
                <span asp-validation-for="PowerFrequencyTestVoltageRmsToGround" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumRadioInfluenceVoltageRIVAt1000KcInMicroVolt" class="control-label"></label>
                <input asp-for="MinimumRadioInfluenceVoltageRIVAt1000KcInMicroVolt" class="form-control" />
                <span asp-validation-for="MinimumRadioInfluenceVoltageRIVAt1000KcInMicroVolt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumNeckDiameter" class="control-label"></label>
                <input asp-for="MinimumNeckDiameter" class="form-control" />
                <span asp-validation-for="MinimumNeckDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumDiameterOfInsulator" class="control-label"></label>
                <input asp-for="MinimumDiameterOfInsulator" class="form-control" />
                <span asp-validation-for="MinimumDiameterOfInsulator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumHeightOfTheInsulator" class="control-label"></label>
                <input asp-for="MinimumHeightOfTheInsulator" class="form-control" />
                <span asp-validation-for="MinimumHeightOfTheInsulator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumGroveDiameter" class="control-label"></label>
                <input asp-for="MinimumGroveDiameter" class="form-control" />
                <span asp-validation-for="MinimumGroveDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumMechanicalFailingLoad" class="control-label"></label>
                <input asp-for="MinimumMechanicalFailingLoad" class="form-control" />
                <span asp-validation-for="MinimumMechanicalFailingLoad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoleId" class="control-label"></label>
                <select asp-for="PoleId" class="form-control" asp-items="ViewBag.PoleId"></select>
                <span asp-validation-for="PoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success float-right" />
                <a class="btn btn-success float-left" asp-action="Index">Cencel</a>
            </div>
        </form>
        </fieldset>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

