@model Pdb014App.Models.PDB.SubstationModels.LookUpNiCdBattery110vDc

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Edit</h2>

<h4>LookUpNiCdBattery110vDc</h4>
<hr />*@
<div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3">

        <fieldset>
            <legend>Update Ni-Cd Battery (110 V DC)</legend>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NiCdBattery110vDcId" />
            <div class="form-group">
                <label asp-for="SubstationId" class="control-label"></label>
                <select asp-for="SubstationId" class="form-control" asp-items="ViewBag.SubstationId"></select>
                <span asp-validation-for="SubstationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturersNameAndAddress" class="control-label"></label>
                <input asp-for="ManufacturersNameAndAddress" class="form-control" />
                <span asp-validation-for="ManufacturersNameAndAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturersModelNo" class="control-label"></label>
                <input asp-for="ManufacturersModelNo" class="form-control" />
                <span asp-validation-for="ManufacturersModelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatingVoltage" class="control-label"></label>
                <input asp-for="OperatingVoltage" class="form-control" />
                <span asp-validation-for="OperatingVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfCells" class="control-label"></label>
                <input asp-for="NumberOfCells" class="form-control" />
                <span asp-validation-for="NumberOfCells" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoltagePerCell" class="control-label"></label>
                <input asp-for="VoltagePerCell" class="form-control" />
                <span asp-validation-for="VoltagePerCell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success float-right" />
                <a class="btn btn-success float-left" asp-action="Index">Cencel</a>
            </div>
        </form>
        </fieldset>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
