@model Pdb014App.Models.PDB.SwitchGearModels.TblIndoorOutdoorTypeProgrammableEnergyMeter

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Edit</h2>

<h4>TblIndoorOutdoorTypeProgrammableEnergyMeter</h4>
<hr />*@
<div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3">

        <fieldset>
        <legend>Update Indoor Outdoor Type Programmable Energy Meter</legend>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnergyMeterId" />
            <div class="form-group">
                <label asp-for="SwitchGearID" class="control-label"></label>
                <select asp-for="SwitchGearID" class="form-control" asp-items="ViewBag.SwitchGearID"></select>
                <span asp-validation-for="SwitchGearID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturersNameAddress" class="control-label"></label>
                <input asp-for="ManufacturersNameAddress" class="form-control" />
                <span asp-validation-for="ManufacturersNameAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturersTypeAndModel" class="control-label"></label>
                <input asp-for="ManufacturersTypeAndModel" class="form-control" />
                <span asp-validation-for="ManufacturersTypeAndModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConstructionConnection" class="control-label"></label>
                <input asp-for="ConstructionConnection" class="form-control" />
                <span asp-validation-for="ConstructionConnection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Installation" class="control-label"></label>
                <input asp-for="Installation" class="form-control" />
                <span asp-validation-for="Installation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatedVoltage" class="control-label"></label>
                <input asp-for="RatedVoltage" class="form-control" />
                <span asp-validation-for="RatedVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumBiasingVoltage" class="control-label"></label>
                <input asp-for="MinimumBiasingVoltage" class="form-control" />
                <span asp-validation-for="MinimumBiasingVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VariationOfFrequency" class="control-label"></label>
                <input asp-for="VariationOfFrequency" class="form-control" />
                <span asp-validation-for="VariationOfFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VariationOfVoltage" class="control-label"></label>
                <input asp-for="VariationOfVoltage" class="form-control" />
                <span asp-validation-for="VariationOfVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccuracyClass" class="control-label"></label>
                <input asp-for="AccuracyClass" class="form-control" />
                <span asp-validation-for="AccuracyClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatedCurrent" class="control-label"></label>
                <input asp-for="RatedCurrent" class="form-control" />
                <span asp-validation-for="RatedCurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NominalCurrent" class="control-label"></label>
                <input asp-for="NominalCurrent" class="form-control" />
                <span asp-validation-for="NominalCurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumCurrent" class="control-label"></label>
                <input asp-for="MaximumCurrent" class="form-control" />
                <span asp-validation-for="MaximumCurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeterConstant" class="control-label"></label>
                <input asp-for="MeterConstant" class="form-control" />
                <span asp-validation-for="MeterConstant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfTerminal" class="control-label"></label>
                <input asp-for="NoOfTerminal" class="form-control" />
                <span asp-validation-for="NoOfTerminal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfManufacture" class="control-label"></label>
                <input asp-for="YearOfManufacture" class="form-control" />
                <span asp-validation-for="YearOfManufacture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeterSealingCondition" class="control-label"></label>
                <input asp-for="MeterSealingCondition" class="form-control" />
                <span asp-validation-for="MeterSealingCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success float-right" />
                <a class="btn btn-success float-left" asp-action="Index">Cencel</a>
            </div>
        </form>
        </fieldset>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
