
<div id="msg-modal-bg" class="msg-modal-bg" onclick="msg.closeBg();">
    <div id="msg-content" class="msg-content">
        <div id="msg-title" class="msg-title">
            <button id="msg-title-btn" class="msg-btnclose" onclick="msg.close();"></button>
            <div id="msg-title-txt" class="msg-title-txt"></div>
        </div>
        <div id="msg-body" class="msg-body">
            <div id="msg-body-bg" class="msg-body-bg">
                <span id="msg-body-msg" class="msg-body-msg"></span>
            </div>
        </div>
        <div id="msg-footer" class="msg-footer">
            <button id="msg-footer-btn" class="modal-btns msg-btn" onclick="msg.close();">OK</button>
        </div>
    </div>
</div>

<div id="modal-bg" class="modal-bg">
    <div id="modal-content" class="modal-content" style="width: 85vw; margin: 4rem auto 1rem auto;">
        <div id="modal-title" class="modal-title">
            <span id="modal-title-txt" class="modal-title-txt">▣ Set Options</span>
            <button id="modal-title-btn-close" class="close" onclick="modal.close();">✖</button>
        </div>
        <div id="modal-body" class="modal-body">
            <div id="modal-body-content" class="modal-body-content">
            </div>
        </div>
        <div id="modal-footer" class="modal-footer" style="text-align: center;">
            <button id="btnSet" class="modal-btns">Set</button>
            <button id="modal-footer-btn-close" class="modal-btns" onclick="modal.close();">Close</button>
        </div>
    </div>
</div>

<div id="busy-indicator" class="pageloading">
    <div class="pageloading-body">
        <div class="loading-indicator">
            <p>Please wait ... . . </p>
        </div>
    </div>
</div>



<div id="dialog" style="display: none">
</div>
