

@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
    {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />

    <style>
        #mapid {
            height: 480px;
        }
    </style>

}

<h2>Map View</h2>

<div id="mapid">

</div>


@section Scripts
    {
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

    <script>


    var blankUrl = "../images/blank.png",
        osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        baseUrl = "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYWxoYWRpLWNzZSIsImEiOiJjamx1azJ5emcwamlkM3ZxeHB0ajB0d3I1In0.k_DovXLLPpp7fQ_i685ocA",
        googleUrl = "http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}",
        esriUrl = "http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
        mapAttrib = "Map data © <a href='https://www.cegisbd.com/' target='_blank'>CEGIS</a> & <a href='http://badc.gov.bd/' target='_blank'>BADC</a>";

    var blank = L.tileLayer(blankUrl, { minZoom: 0, maxZoom: 25, attribution: mapAttrib }),
        openstreet = L.tileLayer(osmUrl, { minZoom: 0, maxZoom: 25, attribution: mapAttrib }),
        grayscale = L.tileLayer(baseUrl, { minZoom: 0, maxZoom: 25, id: "mapbox.light", attribution: mapAttrib }),
        streets = L.tileLayer(baseUrl, { minZoom: 0, maxZoom: 25, id: "mapbox.streets", attribution: mapAttrib }),
        google = L.tileLayer(googleUrl, { minZoom: 0, maxZoom: 25, subdomains: ["mt0", "mt1", "mt2", "mt3"], attribution: mapAttrib }),
        esri = L.tileLayer(esriUrl, { minZoom: 0, maxZoom: 25, attribution: mapAttrib });


    var map = new L.Map("mapid", { center: new L.LatLng(23.737777, 90.537777), zoomControl: false, zoom: 7.0 });

    map.setView([23.737777, 90.537777], 7.0);

    var baseMaps = {
        "None": blank,
        "Open Street": openstreet,
        "Grayscale": grayscale,
        "Streets": streets,
        "Google": google,
        "ESRI": esri
    };


    L.tileLayer("", { attribution: mapAttrib }).addTo(map);

    L.control.scale().addTo(map);
    L.control.zoom().addTo(map);

    map.on("mousemove",
        function (evt) {
            $("#map_cord_info").html(evt.latlng.lat.toFixed(6) + ", " + evt.latlng.lng.toFixed(6));
        });

    $("#map_center").on("click",
        function (e) {
            map.setView([23.737777, 90.537777], 7.0);
        });

    //L.control.layers(null, baseMaps, { collapsed: false }).addTo(map);
    var bglayers = L.control.layers(baseMaps, null, { collapsed: false });

    bglayers.addTo(map);

    //var dataLayerPath = "http://rmo/pdb_app/js/map/div.json";

        var dataLayerPath = "/pdb_app/js/map/div.json";

    $.getJSON(dataLayerPath, function (map_layer) {
        if (!map_layer) return;

        var dataLayer = L.geoJson(map_layer, { style: mapDataStyle, onEachFeature: mapDataFeatures });

        map.addLayer(dataLayer);

    }).done(function (e) {

    });


function mapDataStyle(feature) {

    var polyOptions = {
        zIndex: 101,
        weight: 1.0,
        opacity: 0.9,
        color: "#D0C0A0",
        fillOpacity: 0.8
    };

        polyOptions.fillColor = "FF000";
        polyOptions.fillOpacity =0.5;


    return polyOptions;
}

function mapDataFeatures(feature, layer) {

    return;
}



    </script>
}

@*http://rmo/pdb_app/TblPoles/Details/9749*@





