@model Pdb014App.Models.PDB.TblPole

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-select.css" rel="stylesheet" />
}


<div class="row">
    <div class="offset-md-2 col-md-8 offset-md-2">

        <fieldset>
            <legend>Update Pole Information</legend>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PoleId" />

                @*<div class="form-group">
            <label asp-for="PoleUid" class="control-label"></label>
            <input asp-for="PoleUid" class="form-control" />
            <span asp-validation-for="PoleUid" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FeederLineUid" class="control-label"></label>
            <input asp-for="FeederLineUid" class="form-control" />
            <span asp-validation-for="FeederLineUid" class="text-danger"></span>
        </div>*@

                @*<div class="form-group">
            <label asp-for="SurveyDate" class="control-label"></label>
            <input asp-for="SurveyDate" class="form-control" />
            <span asp-validation-for="SurveyDate" class="text-danger"></span>
        </div>*@


                @*<div class="form-group">
            <label asp-for="SurveyDate" class="control-label"></label>
            <input type="text" name="SurveyDate" id="SurveyDate" class="survey-date form-control" placeholder="dd-mm-yyyy" data-date-format="mm-dd-yyyy" value=@Model.SurveyDate />
            <span class="glyphicon glyphicon-calendar icon-font" id="dpSurveyDate"></span>
            <span asp-validation-for="SurveyDate" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="SurveyDate" class="control-label"></label>
                    <input asp-for="SurveyDate" type="hidden" id="SurveyDate" />
                    <div class="input-group">
                        <input type="text" id="altSurveyDate" value="@Model?.SurveyDate?.ToString("dd-MM-yyyy")" class="form-control" placeholder="DD-MM-YYYY" />
                        <span class="input-group-append" id="dpSurveyDate">
                            <span class="input-group-text fas fa-calendar-alt calendar-icon"></span>
                        </span>
                    </div>
                    <span asp-validation-for="SurveyDate" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="RouteCode" class="control-label"></label>
                    <select asp-for="RouteCode" class="form-control" asp-items="ViewBag.RouteCode"></select>
                    <span asp-validation-for="RouteCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FeederLineId" class="control-label"></label>
                    <select asp-for="FeederLineId" class="form-control" asp-items="ViewBag.FeederLineId"></select>
                    <span asp-validation-for="FeederLineId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SurveyorName" class="control-label"></label>
                    <input asp-for="SurveyorName" class="form-control" />
                    <span asp-validation-for="SurveyorName" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="PoleId" class="control-label"></label>
            <input asp-for="PoleNo" class="form-control" />
            <span asp-validation-for="PoleNo" class="text-danger"></span>
        </div>*@

                @*<div class="form-group">
            <label asp-for="PreviousPoleNo" class="control-label"></label>
            <input type="number" asp-for="PreviousPoleNo" class="form-control" />
            <span asp-validation-for="PreviousPoleNo" class="text-danger"></span>
        </div>*@

                <div class="form-group">
                    <label asp-for="PreviousPoleNo" class="control-label"></label>
                    <select asp-for="PreviousPoleNo" class="form-control" asp-items="ViewBag.PreviousPoleNo"></select>
                    <span asp-validation-for="PreviousPoleNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PoleId" class="control-label"></label>
                    @*<input asp-for="PoleId"  class="form-control" />*@
                    <input value="@Model.PoleId" class="form-control" readonly />
                    @*<label>@Model.PoleId</label>*@
                    <span asp-validation-for="PoleNo" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="PreviousPoleNo" class="control-label"></label>
            <input asp-for="PreviousPoleNo" class="form-control" />
            <span asp-validation-for="PreviousPoleNo" class="text-danger"></span>
        </div>*@

                <div class="form-group">
                    <label asp-for="Latitude" class="control-label"></label>
                    <input asp-for="Latitude" class="form-control" />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude" class="control-label"></label>
                    <input asp-for="Longitude" class="form-control" />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PoleTypeId" class="control-label"></label>
                    <select asp-for="PoleTypeId" class="form-control" asp-items="ViewBag.PoleTypeId">
                        <option>--Select--</option>
                    </select>
                    <span asp-validation-for="PoleTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PoleConditionId" class="control-label"></label>
                    <select asp-for="PoleConditionId" class="form-control" asp-items="ViewBag.PoleConditionId">
                        <option>--Select--</option>
                    </select>
                    <span asp-validation-for="PoleConditionId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LineTypeId" class="control-label"></label>
                    <select asp-for="LineTypeId" class="form-control" asp-items="ViewBag.LineTypeId">
                        <option>--Select--</option>
                    </select>
                    <span asp-validation-for="LineTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BackSpan" class="control-label"></label>
                    <input asp-for="BackSpan" class="form-control" />
                    <span asp-validation-for="BackSpan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeOfWireId" class="control-label"></label>
                    <select asp-for="TypeOfWireId" class="form-control" asp-items="ViewBag.TypeOfWireId">
                        <option>--Select--</option>
                    </select>
                    <span asp-validation-for="TypeOfWireId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoOfWireHt" class="control-label"></label>
                    <input asp-for="NoOfWireHt" class="form-control" />
                    <span asp-validation-for="NoOfWireHt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoOfWireLt" class="control-label"></label>
                    <input asp-for="NoOfWireLt" class="form-control" />
                    <span asp-validation-for="NoOfWireLt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WireLength" class="control-label"></label>
                    <input asp-for="WireLength" class="form-control" />
                    <span asp-validation-for="WireLength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WireConditionId" class="control-label"></label>
                    <select asp-for="WireConditionId" class="form-control" asp-items="ViewBag.WireConditionId">
                        <option>--Select--</option>
                    </select>
                    <span asp-validation-for="WireConditionId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MSJNo" class="control-label"></label>
                    <input asp-for="MSJNo" class="form-control" />
                    <span asp-validation-for="MSJNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SleeveNo" class="control-label"></label>
                    <input asp-for="SleeveNo" class="form-control" />
                    <span asp-validation-for="SleeveNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TwistNo" class="control-label"></label>
                    <input asp-for="TwistNo" class="form-control" />
                    <span asp-validation-for="TwistNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhaseAId" class="control-label"></label>
                    <select asp-for="PhaseAId" class="form-control" asp-items="ViewBag.PhaseAId">
                        <option>--Select--</option>
                    </select>
                    <span asp-validation-for="PhaseAId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhaseBId" class="control-label"></label>
                    <select asp-for="PhaseBId" class="form-control" asp-items="ViewBag.PhaseBId">
                        <option>--Select--</option>
                    </select>
                    <span asp-validation-for="PhaseBId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhaseCId" class="control-label"></label>
                    <select asp-for="PhaseCId" class="form-control" asp-items="ViewBag.PhaseCId">
                        <option>--Select--</option>
                    </select>
                    <span asp-validation-for="PhaseCId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Neutral" class="control-label"></label>
                    <input type="checkbox" asp-for="Neutral" class="form-control" />
                    <span asp-validation-for="Neutral" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StreetLight" class="control-label"></label>
                    <input type="checkbox" asp-for="StreetLight" class="form-control" />
                    <span asp-validation-for="StreetLight" class="text-danger"></span>
                </div>

                @*<div class="form-group">
            <label asp-for="SourceCableId" class="control-label"></label>
            <select asp-for="SourceCableId" class="form-control" asp-items="ViewBag.SourceCableId">
                <option value="">--Select--</option>
            </select>
            <span asp-validation-for="SourceCableId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TargetCableId" class="control-label"></label>
            <select asp-for="TargetCableId" class="form-control" asp-items="ViewBag.TargetCableId">
                <option value="">--Select--</option>
            </select>
            <span asp-validation-for="TargetCableId" class="text-danger"></span>
        </div>*@

                <div class="form-group">
                    <label asp-for="TransformerExist" class="control-label"></label>
                    <input type="checkbox" asp-for="TransformerExist" class="form-control" />
                    <span asp-validation-for="TransformerExist" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CommonPole" class="control-label"></label>
                    <input type="checkbox" asp-for="CommonPole" class="form-control" />
                    <span asp-validation-for="CommonPole" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Tap" class="control-label"></label>
                    <input type="checkbox" asp-for="Tap" class="form-control" />
                    <span asp-validation-for="Tap" class="text-danger"></span>
                </div>
                @*<div class="form-group row">
                <label asp-for="Tap" class="control-label col-md-2"></label>
                <input type="checkbox" asp-for="Tap" class="form-control col-md-8 float-left" />
                <span asp-validation-for="Tap" class="text-danger col-md-4"></span>
        </div>*@

                <div class="form-group">

                    <input type="submit" value="Save" class="btn btn-success float-right" />
                    <a class="btn btn-success float-left" asp-action="Index">Cencel</a>

                </div>

            </form>
        </fieldset>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back</a>
    </div>*@

@section Scripts {


    <script src="~/js/datetimepicker.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-select.js"></script>
    <script type="text/javascript">

       

        $("#altSurveyDate").datetimepicker({
            lang: "en",
            format: "d-m-Y",
            formatTime: "",
            formatDate: "d-m-Y",
            timepicker: false,
            onChangeDateTime: function (dp, $inp) {
                $("#SurveyDate").val($inp.val() ? format_date($inp.val()) : "");
            }
        });

        $("#dpSurveyDate").on("click", function () { $("#altSurveyDate").datetimepicker("show"); });



        function format_date(strDate) {
            if (!strDate)
                return "";
            if (strDate.match(/\-/g).length < 2 &&
                strDate.match(/\./g).length < 2 &&
                strDate.match(/\//g).length < 2)
                return "";
            var regExpDate = new RegExp(/^(0?[1-9]|[12][0-9]|3[01])[\/\-\.](0?[1-9]|1[012])[\/\-\.](\d{4})$/);
            var matchDates = regExpDate.exec(strDate);
            if (matchDates == null)
                return "";
            var year = parseInt(matchDates[3], 10),
                month = parseInt(matchDates[2], 10),
                day = parseInt(matchDates[1], 10),
                date = new Date(year, month - 1, day);
            return (date.getFullYear() == year && date.getMonth() == (month - 1) && date.getDate() == day)
                ? year + "/" + month + "/" + day
                : "";
        }


    </script>
}