@model Pdb014App.Models.PDB.InsulatorModels.LookUpInsulatorPinAndPostType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Edit</h2>

<h4>LookUpInsulatorPinAndPostType</h4>
<hr />*@
<div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3">
    <fieldset>
        <legend>Update Isulator (Pin/Post) Type</legend>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InsulatorPinAndPostTypeId"/>
            <div class="form-group">
                <label asp-for="InsulatorPinAndPostTypeName" class="control-label"></label>
                <input asp-for="InsulatorPinAndPostTypeName" class="form-control"/>
                <span asp-validation-for="InsulatorPinAndPostTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-success float-left" asp-action="Index">Cencel</a>
            </div>
        </form>
    </fieldset>
</div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

