@model Pdb014App.Models.PDB.ServicePointModels.LookUpConnectionType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LookUpConnectionType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectionTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectionTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConnectionTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
