@model Pdb014App.Models.PDB.RegionModels.LookUpAdminBndUnion

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>LookUpAdminBndUnion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UnionGeoCode" />
            <div class="form-group">
                <label asp-for="UnionName" class="control-label"></label>
                <input asp-for="UnionName" class="form-control" />
                <span asp-validation-for="UnionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistrictGeoCode" class="control-label"></label>
                <select asp-for="DistrictGeoCode" class="form-control" asp-items="ViewBag.DistrictGeoCode"></select>
                <span asp-validation-for="DistrictGeoCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpazilaGeoCode" class="control-label"></label>
                <select asp-for="UpazilaGeoCode" class="form-control" asp-items="ViewBag.UpazilaGeoCode"></select>
                <span asp-validation-for="UpazilaGeoCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
