@model Pdb014App.Models.PDB.SwitchGearModels.TblTerminationKit

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>

<h4>TblTerminationKit</h4>
<hr />*@
<div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3">
        <fieldset>
            <legend>Add Termination Kit </legend>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BusBarId" class="control-label"></label>
                <select asp-for="BusBarId" class ="form-control" asp-items="ViewBag.BusBarId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LineCapacity" class="control-label"></label>
                <input asp-for="LineCapacity" class="form-control" />
                <span asp-validation-for="LineCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeofTerminationKit" class="control-label"></label>
                <input asp-for="TypeofTerminationKit" class="form-control" />
                <span asp-validation-for="TypeofTerminationKit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application" class="control-label"></label>
                <input asp-for="Application" class="form-control" />
                <span asp-validation-for="Application" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Installation" class="control-label"></label>
                <input asp-for="Installation" class="form-control" />
                <span asp-validation-for="Installation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NominalSystemVoltage" class="control-label"></label>
                <input asp-for="NominalSystemVoltage" class="form-control" />
                <span asp-validation-for="NominalSystemVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumSystemVoltage" class="control-label"></label>
                <input asp-for="MaximumSystemVoltage" class="form-control" />
                <span asp-validation-for="MaximumSystemVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerFrequencyWithstandVoltage" class="control-label"></label>
                <input asp-for="PowerFrequencyWithstandVoltage" class="form-control" />
                <span asp-validation-for="PowerFrequencyWithstandVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberofCore" class="control-label"></label>
                <input asp-for="NumberofCore" class="form-control" />
                <span asp-validation-for="NumberofCore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeofInsulation" class="control-label"></label>
                <input asp-for="TypeofInsulation" class="form-control" />
                <span asp-validation-for="TypeofInsulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeofScreening" class="control-label"></label>
                <input asp-for="TypeofScreening" class="form-control" />
                <span asp-validation-for="TypeofScreening" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeofCableBox" class="control-label"></label>
                <input asp-for="TypeofCableBox" class="form-control" />
                <span asp-validation-for="TypeofCableBox" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemNeutralEarthing" class="control-label"></label>
                <input asp-for="SystemNeutralEarthing" class="form-control" />
                <span asp-validation-for="SystemNeutralEarthing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConductorCrossSection" class="control-label"></label>
                <input asp-for="ConductorCrossSection" class="form-control" />
                <span asp-validation-for="ConductorCrossSection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImpulseWithstandVoltage" class="control-label"></label>
                <input asp-for="ImpulseWithstandVoltage" class="form-control" />
                <span asp-validation-for="ImpulseWithstandVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success float-right" />
                <a class="btn btn-success float-left" asp-action="Index">Back</a>
            </div>
            </form>
        </fieldset>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

